* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: greenyellow;
    max-width: 1280px;
    margin: 0 auto;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}
